<div class="cover">
  <div class="login-bx">
    <div class="form-content">
	  <h1>Sign In</h1>
	  <%= form_tag "sign_in" do %>
	  <%= text_field_tag :email, "", placeholder: "Email", class:'field' %>
	  <%= password_field_tag :password, "", placeholder: "Password", class:'field' %>
	  <%= submit_tag "Submit" %>
	  <% end %>
	</div>
  </div>
</div>