<div class="container">
  <div class="signup-bx">
  <% if session[:user_id] == @user.id %>
  <h1>Edit profile</h1>
  <%= render 'form' %>
  <div class="delete"><%= link_to 'Delete Account', @user, method: :delete, data: {confirm: "Are you sure?"} %></div>
  <% else %>
  <%= flash[:alert] = "You must be logged in" %>
  <%= link_to 'Back', root_path %>
<% end %>
  </div>
</div>