a:link, a:visited {
	text-decoration: none;
}

.logo {
	float: left;
	color: #0E3C8E;
	font-family: 'Tahoma';
	font-size: 1.5em;
	margin-top: 9px;
	margin-left: 3px;
}

.nav {
	width: 101%;
	height: 50px;
	margin: 0 auto;
	margin-top: -8px;
	border-bottom: 2px solid #cbd2d6;

	ul {
	list-style: none;
	float: right;
	}

	li {
	font-size: 1em;
	float: left;
	vertical-align: middle;
	margin-right: 20px;
	margin-top: -3px;
	}

	a:link, a:visited {
	text-decoration: none;
	color: #0E3C8E;;
	}
}

.addcard-text {
	font-size: 1.5em;
	position: relative;
	top: 40%;
	text-align: center;

    a:link, a:visited {
	text-decoration: none;
	}
}


.edit-profile {
	margin-top: 10px;

	a:link, a:visited {
	text-decoration: none;
	color: navy;
	}
}

.edit-share {
	float: right;
	margin-left: 5px;

	a:link, a:visited {
	text-decoration: none;
	}
}
